@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-container{
    position: relative;
}

.banner-sec{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;

}

.carousel-container {
    position: relative;
}

.slide-images-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.slider-image {
    display: none;
}

.slider-number {
    display: none;
}

.slider-image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.slider-active{
    display: block;
}

.number-active{
    display: block;
    color: #ffffff;
    margin-top: 10px;
}

.slider-buttons{
    position: absolute;
    bottom: 6%;            
    left: 30%;
    width: 60%;
}

.slider-buttons hr {
    height: 2px;
    color: blue;
}

.button-alignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}

.button-alignment button {
    border: 0px;
    background-color: transparent;
    font-size: 30px;
    height: 20px;
    cursor: pointer;
    align-content: center;
    color: #ffffff;
}

/* Banner content section */

.banner-content-sec {
    position: absolute;
    top: 40%;
    left: 8%;
}

.banner-content-sec h1 {
    font-size: 50px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 255);
}

.banner-content-sec h2 {
    font-size: 40px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 185);
}


@media screen and (max-width: 996px) {
    .banner-sec {
        width: 100%;
        height: 100%;
        max-width: 996px;
    }

    .banner-container {
        width: 100%!important;
    }

    .banner-content-sec{
        display: none;
    }

    .slide-images-sec {
        width: 100%;
        height: 100%;
        max-width: 996px;
    }

    .slider-buttons{
        margin-top: 55%;
        position: relative;
    }
    .button-alignment {
        margin-top: 0px;
    }
}

/* Navigation Section */

.nav-sec-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000; /* Ensure the navbar stays on top */
    backdrop-filter: blur(10px); /* Adds glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    position: fixed;
    width: 100%;
}

.nav-sec-container.scroll {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.nav-sec-container .logo {
    font-size: 36px;
    font-family: "Tourney", Roboto;
    color: blue;
}

.nav-sec-container .logo span {
    font-size: 36px;
    font-family: "Tourney", Roboto;
    color: blue;
}

.navigation-elements {
    padding: 20px 0px;
}

.navigation-elements ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-elements ul li {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navigation-elements ul li a {
    color: #000;
    text-decoration: none;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 996px) {
    .navigation-elements ul {
        display: none;
    }

    .nav-sec-container{
        min-width: 800px;
    }

    .mobile-menu-icon {
        display: block;
        border: 1px solid blue;
        border-radius: 8px;
        cursor: pointer;
    }

    .mobile-menu-icon .bar {
        width: 25px;
        height: 2px;
        background-color: blue;
        margin: 6px;
    }

    .mobile-menu {
        display: block!important;
        position: absolute;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        width: 200px;
        border-radius: 10px;
        margin: 0px 20px 0px 0px;
        z-index: 889;
    }

    .mobile-menu li {
        margin: 6px 10px 6px 10px;
        text-align: center;
    }

    .mobile-menu li:hover {
        border-bottom: 1px solid #000;
    }
}

@media screen and (max-width: 768px) {

    .nav-sec-container{
        min-width: 300px;
    }

    .mobile-hide{
        display: none;
    }
}




 /* Gallery section */
 

 .gallery-container{
    width: 80%;
    margin-bottom: 50px;
 }

 .gallery-container h1 {
    font-size: 40px;
    margin: 40px 0px 20px 0px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 185);
    text-align: center;
 }

 .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 10px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33%; /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
  }
  
  .column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 768px) {

    .gallery-container {
        width: 94%;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
      }

      .gallery-container h1 {
        margin: 20px 0px 0px 0px;
      }
}


  /* Testimonials section */

  .testimonial-container {
    background-color: #F0F0F4;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .testimonials {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }

  .testimonial-container h1 {
    font-size: 40px;
    margin: 40px 0px 20px 0px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 185);
    text-align: center;
  }

  .testimonials-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .testimonial-image-sec{
    width: 60%;
  }

  .testimonial-content-sec{
    width: 40%;
    padding: 50px 50px 0px 0px;
  }
  
  .testimonial-content-sec h2 {
    font-family: "Tourney", Roboto;
    color: rgb(6, 6, 185);
    font-size: 30px;
  }

  .testimonial-content-sec p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }

  .testimonial-image-sec img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .testimonial{
    display: none;
  }

  .testimonial-active {
    display: block;
  }
  .testimonial-slider-buttons {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .testimonial-slider-buttons .button-alignment{
    width: 36%;
    margin-bottom: -50px;
    z-index: 999;
  }

  .testimonial-slider-buttons .button-alignment button {
    color: #000;
  }


  @media screen and (max-width: 996px) {
    .testimonials-section {
        flex-direction: column;
    }

    .testimonial-content-sec {
        width: 100%;
        text-align: center;
        padding: 0px 10px 30px 10px;
    }


    .testimonial-slider-buttons .button-alignment {
        width: 100%;
        margin-bottom: -40px;
    }

    .testimonial-image-sec {
        width: 100%;
    }
  }


  /* Photography section */

  .photography-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .photography-section h1 {
    font-size: 40px;
    margin: 40px 0px 30px 0px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 185);
    text-align: center;
  }

  .photography-section p {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-family: "Kalam", Roboto;
  }

  .photography-section button {
    width: 150px;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
    border: 0px;
    background-color: rgb(6, 6, 185);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .photography-section button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  @media screen and (max-width: 996px) {
    
  }


  /* product-section */

  .product-section {
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .product-inner{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px;
  }

  .product-image-sec {
    width: 50%;
  }

  .product-image-sec img {
    width: 100%;
    border-radius: 20px;
  }

  .product-content-sec {
    padding: 0px 0px 0px 40px;
    width: 50%;
  }

  .product-content-sec h2 {
    font-size: 40px;
    font-family: "Caveat", Roboto;
    color: rgb(6, 6, 185);
    text-align: center;
  }

  .product-content-sec p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-family: "Roboto", Kalam;
    margin-top: 20px;
  }

  @media screen and (max-width: 996px) {
    .product-inner {
        flex-direction: column;
    }

    .product-image-sec{
        width: 100%;
    } 
    .product-content-sec{
        width: 100%;
        padding: 20px 10px 0px 10px;
    }

  }

 

  /* Contact Section */

  .contact-section {
    width: 80%;
    margin: 50px 0px;
  }

  .contact-details{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    color: #000;
    width: 100%;
    border-radius: 12px;
    padding: 30px 30px;
  }

  .contact-details h1 {
    font-size: 40px;
    font-family: "Tourney", Roboto;
    color: rgb(6, 6, 185);
    text-align: left;
    margin-bottom: 24px;
  }

  .contact-details p {
    font-size: 20px;
    font-family: Roboto;
    color: rgb(6, 6, 185);
    text-align: left;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .contact-details p span {
    color: rgb(0, 0, 0);
  }

  .contact-details p a {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 996px) {
    .contact-section {
      width: 90%;
      margin: 30px 0px;
    }
  }